@use '../../scss/abstracts/' as *;

.user-info {
  @include flex(center, center);
  border-radius: $borderRadius;
  height: 50px;
  width: max-content;
  background-color: $mainBg;

  &__img {
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: $borderRadius;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: 0px 0px;
      border-radius: $borderRadius;
    }
  }

  &__name {
    padding: 0 $spacing;
    font-size: $fontSizeMedium;
    font-weight: 700;

    &include tablet {
      padding: 0 $mobileSpacing;
    }
  }
}
